
.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.accountsList {
    height: 800px;
    width: 700px;
    overflow-Y: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 30px;
}

.listItem {
    list-style: none;
    margin: 10px;
}