
.heading {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    border: 1px dotted white;
    color: var(--titleText)
}

.ownAccountDiv {
    margin: 20px;
    opacity: 0.8;
}

.contactDiv {
    margin: 20px;
}

.contactDiv:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 3px 20px 0px var(--shadow2);
}