
:root {
    --shadow2: rgba(0, 0, 0, 0.2);
    --shadow1: rgba(0, 0, 0, 0.1);
    --shadowText: rgba(0, 0, 0, 0.5);
    --black: rgb(0, 0, 0);
    --greyText: rgba(0, 0, 0, 0.5);
    --greyLight: rgba(0, 0, 0, 0.3);
    --headingBackground: rgba(0, 0, 0, 0.8);
    --titleText: rgba(0, 0, 0, 0.75);

    --creamWhite: rgba(255, 253, 242, 0.9);
    --almostWhite: rgba(245, 245, 245, 1);
    --favouriteFlag: rgba(255, 0, 0, 0.75);
    --redHover: rgba(255, 0, 0, 0.9);

    --yellow1: rgba(255, 204, 0, 0.9);
    --yellow2: rgba(245, 243, 242, 0.8); 
    --yellow3: rgba(242, 217, 132, 0.8); 
    --yellow4: rgba(254, 250, 212, 0.8); 
    
    --blue1: rgba(0, 75, 150, 1); 
    --blue2: rgba(245, 243, 242, 0.9); 
    --blue3: rgba(153, 186, 221, 1); 
    --blue4: rgba(228, 241, 254, 1);

    --orange1: rgba(245, 141, 53, 1); 
    --orange2: rgba(245, 243, 242, 0.9); 
    --orange3: rgba(252, 214, 112, 1); 
    --orange4: rgba(253, 227, 167, 1); 

}

/*
anz 1 rgba(0, 125, 186, 1);
anz 2 rgba(0, 65, 101, 1);

ing 1 rgba(0, 0, 102, 1)
ing 2 rgba(255, 98, 0, 1)

*/