
:root {
    --shadow: rgba(0, 0, 0, 0.2);
    --black: rgb(0, 0, 0);
    

    --yellow1: rgba(247, 202, 24, 1); /* kournikova from http://www.flatuicolorpicker.com/yellow-rgba-color-model/ */
    --yellow2: rgba(245, 229, 27, 1); /* turbo */
    --yellow3: rgba(242, 217, 132, 1); /* buff */
    --yellow4: rgba(254, 250, 212, 1); /* moon glow */
    
    --blue1: rgba(19, 93, 216, 1); /* police blue from https://colorcodes.io/blue/ */
    --blue2: rgba(0, 138, 216, 1); /* azure */
    --blue3: rgba(153, 186, 221, 1); /* caroline  */
    --blue4: rgba(228, 241, 254, 1); /* from http://www.flatuicolorpicker.com/blue-rgba-color-model/*/

    --orange1: rgba(245, 171, 53, 1); /* lightning yellow from http://www.flatuicolorpicker.com/orange-rgba-color-model/ */
    --orange2: rgba(250, 190, 88, 1); /* saffron mango */
    --orange3: rgba(252, 214, 112, 1); /* goldenrod */
    --orange4: rgba(253, 227, 167, 1); /* cape honey */

}
