
.background {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--creamWhite);
}

.heading {
    font-size: 44px;
    position: relative;
    top: 1vh;
    color: white;
    text-shadow: 1px 1px 5px var(--shadowText);
    text-align: center;
}

.outerContainer {
    border: 1px solid black;
    border-radius: 30px;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--greyLight);
    box-shadow: 5px 15px 15px 3px var(--shadow2);
}

.loginLink {
    color: white;
    margin-left: 10px;
}