
.background {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.heading {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    border: 1px dotted white;
    color: var(--titleText)
}

.messageList {
    list-style: none;
    height: 800px;
    width: 700px;
    overflow-Y: auto;
    border-radius: 30px;
    border: 10px solid white;
}

.messageContainer {
    margin-top: 10;
    margin-bottom: 10;
    padding: 10px;
    height: 13vh;
}



/* for different device sizes */

@media (max-width: 20rem) { /* 320px */
 
    .background {
        border-width: 15px;
    }

    .messageList {
        height: 80vh;
        width: 80vw;
        border: 5px solid white;
    }

}


@media (min-width: 20rem) { /* 320px */

    .background {
        border-width: 15px;
    }

    .messageList {
        height: 80vh;
        width: 80vw;
        border: 5px solid white;
    }

}

@media (min-width: 40rem) { /* 640px */

    .background {
        border-width: 100px;
    }

    .messageList {
        height: 75vh;
        width: 65vw;
        border: 5px solid white;
    }

}

@media (min-width: 60rem) { /* > 960px */

    .background {
        border-width: 100px;
    }

    .messageList {
        height: 800px;
        width: 700px;
        border: 10px solid white;
    }

}