
.background {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.heading {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    border: 1px dotted white;
    color: var(--titleText)
}

.settingsBox {
    height: 800px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 30px;
    border: 10px solid white;
}

.fontSizeContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 5;
}

.themeContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 5;
}

.animationsContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 5;
}

.optionBoxTitle {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 10px;
}

.optionBox {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 10px;
}

.optionBox:hover {
    box-shadow: 1px 1px 10px 3px var(--shadow1);
    transform: scale(1.01);
}

.optionButton {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
