
.background {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.heading {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    border: 1px dotted white;
    color: var(--titleText)
}

.settingsBox {
    height: 800px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 30px;
    border: 10px solid white;
}

.fontSizeContainer {
    display: flex;
    justify-content: space-evenly;
}

.themeContainer {
    display: flex;
    justify-content: space-evenly;
}

.animationsContainer {
    display: flex;
    justify-content: space-evenly;
}

.optionBoxTitle {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 10px;
}

.optionBox {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 10px;
}

.optionBox:hover {
    box-shadow: 1px 1px 10px 3px var(--shadow1);
    transform: scale(1.01);
}

.optionButton {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
}





/* for different device sizes */

@media (max-width: 20rem) { /* 320px */
    
    .background {
        border-width: 15px;
    }
    
    .settingsBox {
        height: 70vh;
        width: 80vw;
        border: 5px solid white;
    }

    .optionButton {
        width: 20px;
    }
        
}


@media (min-width: 20rem) { /* 320px */
    
    .background {
        border-width: 15px;
    }
    
    .settingsBox {
        height: 70vh;
        width: 80vw;
        border: 5px solid white;
    }
    
    .optionButton {
        width: 20px;
    }

}

@media (min-width: 40rem) { /* 640px */

    .background {
        border-width: 100px;
    }
    
    .settingsBox {
        height: 70vh;
        width: 65vw;
        border: 10px solid white;
    }

}

@media (min-width: 60rem) { /* > 960px */

    .background {
        border-width: 100px;
    }
    
    .settingsBox {
        height: 900px;
        width: 700px;
        border: 10px solid white;
    }

}