.accountBox {
    display: flex;
    flex-direction: column;
    height: 15vh;
    box-shadow: 0px 3px 10px 3px var(--shadow2);
    border-radius: 10px;
}

.accountName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw 0.5vh 1vw;
    background-color: var(--headingBackground);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    height: 30%;
}

.bottomHalf {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

    .accountDetails {
        display: flex;
        padding: 1vh 1vw 0.5vh 1vw;
    }

        .BSB {
            color: var(--greyText);
            margin-right: 3vw;
        }

        .accountNum {
            color: var(--greyText);
        }


    .accountTotal {
        display: flex;
        justify-content: space-between;
        padding: 1vh 1vw 0.5vh 1vw;
    }