.accountBox {
    display: flex;
    border: 1px solid black;
    height: 15vh;
    padding: 10px;
}

.accountInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding: 10px;
}

.accountValues {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
