.accountBox {
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
}

.accountInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.accountValues {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}