
.background {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;

}

.innerContainer {
    height: 800px;
    width: 700px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    border: 10px solid white;
}





/* for different device sizes */

@media (max-width: 20rem) { /* 320px */

    .background {
        border-width: 15px;
    }
    
    .innerContainer {
        height: 70vh;
        width: 80vw;
        border: 5px solid white;
    }

}


@media (min-width: 20rem) { /* 320px */
    
    .background {
        border-width: 15px;
    }
    
    .innerContainer {
        height: 70vh;
        width: 80vw;
        border: 5px solid white;
    }

}

@media (min-width: 40rem) { /* 640px */

    .background {
        border-width: 100px;
    }
    
    .innerContainer {
        width: 65vw;
        border: 10px solid white;
    }

}

@media (min-width: 60rem) { /* > 960px */

    .background {
        border-width: 100px;
    }
    
    .innerContainer {
        height: 900px;
        width: 700px;
    }

}